select {
    background: #2c3e50;
}

.select-docs-language,
.select-docs-version {
    display: block;
    margin-top: 0.6rem;
    margin-right: 1rem;
    height: 3.6rem;
    background-color: rgb(63, 81, 181);
    color: rgb(189, 194, 217);
    font-size: 1.4rem;
    border: 1px solid transparent;
    border-radius: .2rem;
    outline: 0px;
}

.select-docs-language:hover,
.select-docs-version:hover {
    color: #fff;
    background-color: #5666be;
    border-color: #5666be;
}

.md-header-nav__title {
    padding: 0 0.8rem;
}

@media only screen and (max-width: 76.1875em) {
    html .md-nav--primary .md-nav__title {
        background-color: #3f51b5;
        color: #fff;
    }
    html .md-nav--primary .md-nav__title:before {
        color: #fff;
    }
}
    /* remove mobile screen select control's default sytle */
    @media only screen and (max-width: 29.9375em) {
        .select-docs-language,
        .select-docs-version {
            -webkit-appearance: none;
        }
    }